body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 48px;
}

.My-name {
    color: orange;
}

.flexible {
    display: flex;
}

section {
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding-left: 8%;
}

.half-width img {
    width: 70%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(tomato, orange);
    color: #fff;
    font-weight: 400;
    padding: 10px 40px;
    border-radius: 5px;
}

.top-banner {
    background-image: url(../Photo/top-banner.png);
    background-repeat: no-repeat;
}

.Second-banner {
    background-image: url(../Photo/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.exp-item {
    width: 45%;
    margin-left: 35px;
    padding: 20px;
    box-shadow: 10px 10px 40px grey;
    border-radius: 10px;
}

.experiences {
    background-image: url(../Photo/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.exp-head {
    text-align: center;
}

#web-dev {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

#baby-dev {
    border-left: 7px solid;
    border-image: linear-gradient(tomato, orange);
    border-image-slice: 1;
}

footer {
    text-align: center;
}